/*=============== FOOTER ===============*/
.footer__container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: center;
  padding: 1rem;
}
  
.footer__logo{
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  margin-bottom: .75rem;
}
  
.footer__logo i{
  font-size: 1.25rem;
}

.footer__description,
.footer__link{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}


.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links{
  display: grid;
  row-gap: .5rem
}

.footer__link{
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover{
  color: var(--title-color)
}

.footer__social{
  display: flex;
  column-gap: 1rem;
}

.footer__social-link{
  font-size: 1.55rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  color: var(--title-color);
}

.footer__info{
  text-align: center;
  font-size: 12px;
  padding-bottom: 8rem;
  margin-top: 5.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 1020px) {
  .footer__logo{
    display: flex;
    justify-content: center;
  }

  .footer__content{
    padding: 0rem 3rem 0rem 3rem;
    justify-content: center;
  }

  .footer__title{
    display: flex;
    justify-content: center;
  }

  .footer__description{
    text-align: center;
    padding-bottom: 3rem;
  }
}