/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: #fff;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
    transition: .3s
}

.nav__logo i{
    font-size: 1rem;
}

.nav__logo:hover{
    color: var(--first-color);
}

@media screen and (max-width: 1024px){
    .nav__menu{
        position: fixed;
        bottom: 2rem;
        background-color: var(--container-color);
        box-shadow: 0 8px 24px hsla(228, 66%, 45%, .15);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.30rem 3rem;
        border-radius: 1.25rem;
        transition: .4s;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .nav__link {
        color: var(--text-color);
        display: flex;
        padding: .5rem;
        border-radius: 50%;
    }

    .nav__link i {
        font-size: 1.25rem;
    }

    .nav__link span{
        display: none;
    }
}

/* Change background header */
.scroll-header{
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, .1);
}

.scroll-header .nav__logo{
  color: var(--first-color);
}

