@import "./partials/general.css";
@import "./partials/nav.css";
@import "./partials/home.css";
@import "./partials/button.css";
@import "./partials/logos.css";
@import "./partials/popular.css";
@import "./partials/value.css";
@import "./partials/contact.css";
@import "./partials/appointment.css";
@import "./partials/footer.css";
@import "./partials/scroll.css";


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 400px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section{
    padding: 3.5rem 0 1rem;
  }

  .nav__logo{
    margin-left: auto;
    margin-right: auto;
  }

  .home{
    padding-bottom: 0;
  }

  .home__search{
    max-width: 350px;
  }

  .home__value{
    column-gap: 1rem;
  }

  .contact__card{
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }
}

@media screen and (max-width: 320px){ 
  .nav__menu{
    padding: 1.3rem 1.5rem;
  }

  .nav__logo{
    margin-left: auto;
    margin-right: auto;
  }

  .home__value{
    column-gap: 1rem;
  }

  .home__search{
    max-width: 250px;
  }

  .home__img,
  .value__img,
  .contact__img{
    width: 220px;
    height: 280px;
  }

  .home__orbe,
  .value__orbe,
  .contact__orbe{
    width: 240px;
    height: 264px;
  }

  .logos__container{
    gap: 2rem 1rem;
  }

  .popular__card{
    width: 230px;
    padding: .5rem .5rem .75rem;
  }

  .subscribe__container{
    padding: 2rem 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 578px) {
  .nav__menu{
    width: 342px;
  }

  .nav__logo{
    margin-left: auto;
    margin-right: auto;
  }

  .home__search{
    width: 422px;
  }

  .logos__img img{
    height: 60px;
    margin-left: 35px;
  }
  .container__card{
    grid-template-columns: repeat(2, 192px);
  }

}


@media screen and (min-width: 767px){
  .home__container{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .nav__logo{
    margin-left: auto;
    margin-right: auto;
  }

  .home__orbe,
  .contact__orbe{
    align-self: flex-end;
  }


  .contact__img img{
    max-width: initial;
    width: 490px;
    text-align: center;
  }

  .home__data{
    padding-bottom: 2rem;
  }

  .logos__img{
    padding: 1.5rem;
  }

  .logos__img img{
    height: 35px;
    padding-left: 35px;
  }

  .value__container,
  .contact__container{
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }

  .contact__images{
    order: 1;
  }

  .contact__card{
    justify-content: initial;
  }

  .subscribe__container{
    padding: 3rem 13rem;
  }

}

/* For large devices */
@media screen and (min-width: 1020px) {
  .section{
    padding: 7.5rem 0 1rem;
  }

  .section__title{
    font-size: 2.25rem;
  }

  .section__subtitle{
    font-size: var(--normal-font-size);
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu{
    width: initial;
    margin-left: auto;
  }

  .nav__list{
    display: flex;
    column-gap: 3rem;
  }

  .nav__link{
    color: var(--text-color-light);
  }

  .nav__link i{
    display: none;
  }

  .nav__button{
    display: inline-block;
    padding: 7px 16px;
    margin-left: 20px;
  }

  .activate-link{
    background: none;
    box-shadow: none;
    color: var(--first-color);
    font-weight: var(--font-medium);
  }

  .scroll-header .nav__link{
    color: var(--text-color);
  }

  .scroll-header .activate-link{
    color: var(--first-color);
  }

  .home{
    padding-bottom: 0;
  }

  .home__container{
    padding-top: 5rem;
    column-gap: 2rem;
  }

  .home__container{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .home__data{
    padding-bottom: 4rem;
  }

  .home__title{
    margin-bottom: 2rem;
  }

  .home__description,
  .home__search{
    margin-bottom: 3rem;
  }

  .home__value{
    column-gap: 3.5rem;
  }

  .home__orbe{
    width: 504px;
    height: 611px;
    border-radius: 256px 256px 0 0;
  }

  .home__img{
    width: 472px;
    height: 634px;
    border-radius: 263px 236px 12px 12px;
    bottom: -2.5rem;
  }

  .logos__container{
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }
  

  .logos__img img{
    height: 50px;
  }

  .popular__container{
    padding-top: 3rem;
  }

  .popular__card{
    width: 320px;
    padding: .75rem .75rem 2rem;
  }

  .popular__data{
    padding: 0 .25rem 0 .75rem;
  }

  .value__container,
  .contact__container{
    align-items: flex-start;
    column-gap: 5rem;
  }

  .value__orbe,
  .contact__orbe{
    width: 501px;
    height: 641px;
    border-radius: 258px 258px 16px 16px;
  }

  .value__img,
  .contact__img{
    width: 461px;
    height: 601px;
    border-radius: 238px 238px 12px 12px;
  }

  .value__img img,
  .contact__img img{
    max-width: initial;
    width: 490px;
  }

  .value__description,
  .contact__description{
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }

  .value__accordion-title{
    font-size: var(--normal-font-size);
  }

  .value__accordion-item{
    padding: 1.25rem 1.25rem 1.25rem 1rem;
  }

  .value__accordion-description{
    padding-bottom: 1rem;
    font-size: var(--small-font-size);
  }

  .contact__card{
    grid-template-columns: repeat(2, 200px);
  }

  .contact__card-box{
    padding: 28px 1.5rem 1.5rem;
  }

  .subscribe__container{
    padding: 4rem 10rem 4.5rem;
    border-radius: 2rem;
    border: 12px solid var(--first-color-light);
  }

  .subscribe__title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .subscribe__description{
    font-size: var(--normal-font-size);
    padding: 0 8rem;
  }

  .subscribe__button{
    font-size: var(--normal-font-size);
  }

  .footer__container{
    grid-template-columns: repeat(3, max-content);
  }

}

@media screen and (min-width: 1040px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}


/* For 2K & 4K resolutions */

@media screen and (min-width: 2048px){
  body{
    zoom: 1.5;
  }
}

@media screen and (min-width: 3848px){
  body{
    zoom: 2;
  }
}