/*=============== LOGOS ===============*/
.logos__container{
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .logos__img img{
    height: 60px;
    opacity: .3;
    transition: .7s;
  }
  
  .logos__img img:hover{
    opacity: .9;
  }