/*=============== VALUE ===============*/
.value__container{
    row-gap: 3rem;
  }
  
  .value__images{
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .value__orbe{
    width: 266px;
    height: 316px;
    background-color: hsl(228, 24%, 97%);
    border-radius: 135px 135px 16px 16px;
  }
  
  .value__img{
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
  }
  
  .value__description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
  }
  
  .value__accordion{
    display: grid;
    row-gap: 1.5rem;
  }
  
  .value__accordion-item{
    background-color: var(--body-color);
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    padding: 1rem .75rem;
  }
  
  .value__accordion-header{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .value__accordion-icon{
    background-color: var(--first-color-lighten);
    padding: 5px;
    border-radius: .25rem;
    font-size: 18px;
    color: var(--first-color);
    margin-right: .75rem;
    transition: .3s;
  }
  
  .value__accordion-title{
    font-size: var(--small-font-size);
  }
  
  .value__accordion-arrow{
    display: inline-flex;
    background-color: var(--first-color-lighten);
    padding: .25rem;
    color: var(--first-color);
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: .3s;
  }
  
  .value__accordion-arrow i{
    transition: .4s;
  }
  
  .value__accordion-description{
    font-size: var(--smaller-font-size);
    padding: 1.25rem 2.5rem 0 2.75rem;
  }
  
  .value__accordion-content{
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
  }
  
  
  /*Rotate icon and add shadows*/
  .accordion-open{
    box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);
  }
  
  .accordion-open .value__accordion-icon{
    box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1);
  }
  
  .accordion-open .value__accordion-arrow{
    box-shadow: 0 2px 4px hsla(228, 66%, 45%, .1)
  }
  
  .accordion-open .value__accordion-arrow{
    transform: rotate(-180deg);
  }